* {
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
}

.font {
    font-family: 'Chewy', cursive;
    font-size: 0rem;
}

.font-markerFelt {
    font-family: bobby-rough;
    font-size: 0rem;
}